ion-content {
    --background: rgba(1, 5, 12, 0.133);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3px;
  }

  .searchbar {
    color: rgb(9, 9, 10);
  }
  
  ion-slides {
    height: 100%;
    max-width: 800px;
    background-color: rgb(205, 226, 205);//Aqui uso una variable
    margin:10px;
  }
  .swiper-slide {
    display: block;
    margin-bottom: 60px;
    color: var(--ion-color-primary);
  }
  
  ion-slide > h1, h2 {
    margin: 0 0 0 0;
    color: rgb(12, 11, 12); //aqui uso mi variabe creada
  }
  
  ion-slide > p {
    border-width: 2px;
    border-color: rgb(238, 238, 238);
    border-style: solid;
    font-style: italic;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    margin: 25px 25px 25px 25px;
  }
  
  ion-slide > ion-icon {
    color: rgb(214, 150, 175);
  }
  
  ion-slide > img {
    max-height: 85%;
  max-width: 100%;
  margin: 50px 0 30px;
  }
  
  ion-slide > ion-icon[name="close"] {
    float: right;
    color: rgb(12, 11, 11);
    font-size: 50px;
  }